In [1]:
%load_ext watermark

In [2]:
import itertools as it

from IPython.display import display
import numpy as np
import pandas as pd
import polars as pl
import seaborn as sns
from teeplot import teeplot as tp

In [3]:
%watermark -diwmuv -iv

Last updated: 2025-01-08T03:32:55.596488+00:00

Python implementation: CPython
Python version       : 3.10.12
IPython version      : 7.31.1

Compiler    : GCC 11.4.0
OS          : Linux
Release     : 6.5.0-1025-azure
Machine     : x86_64
Processor   : x86_64
CPU cores   : 4
Architecture: 64bit

pandas : 2.2.3
numpy  : 2.1.2
polars : 1.9.0
teeplot: 1.2.0
seaborn: 0.13.2

Watermark: 2.4.3

In [4]:
teeplot_subdir = "dev-traitlog"
teeplot_subdir

'dev-traitlog'

## Prep Data

In [5]:
dfxs = pd.read_parquet("https://osf.io/utsgn/download")
display(dfxs.describe()), display(dfxs.head()), display(dfxs.tail());

,dstream_data_id,dstream_T,dstream_value_bitwidth,dstream_value,dstream_Tbar
count,1.908480e+08,1.908480e+08,190848000.0,1.908480e+08,1.908480e+08
mean,3.727495e+05,5.000010e+05,1.0,9.781210e-01,2.469990e+05
std,2.152073e+05,1.380040e-02,0.0,1.462885e-01,1.433998e+05
min,0.000000e+00,4.999980e+05,1.0,0.000000e+00,1.023000e+03
25%,1.863748e+05,5.000010e+05,1.0,1.000000e+00,1.256950e+05
50%,3.727495e+05,5.000010e+05,1.0,1.000000e+00,2.503670e+05
75%,5.591242e+05,5.000010e+05,1.0,1.000000e+00,3.691510e+05
max,7.454990e+05,5.000010e+05,1.0,1.000000e+00,4.997110e+05

,dstream_data_id,dstream_T,dstream_value_bitwidth,dstream_value,dstream_Tbar
0,665144,499998,1,1,262143
1,665144,499998,1,1,1023
2,665144,499998,1,0,2047
3,665144,499998,1,0,4095
4,665144,499998,1,0,8191

,dstream_data_id,dstream_T,dstream_value_bitwidth,dstream_value,dstream_Tbar
190847995,745499,500001,1,1,252927
190847996,745499,500001,1,1,254975
190847997,745499,500001,1,1,257023
190847998,745499,500001,1,1,259071
190847999,745499,500001,1,1,261119